body{
     background-image: url(../img/Fancy_1.gif) ;  /*Путь к фоновому изображению*/
        /*background-color:#470b87 ;*/

}




#text{
    color:#fff;
    margin:50px;
    marginleft:50px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%;  /*Размер шрифта в процентах */
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de;


}
#text1{
    color:#fff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 500%;  /*Размер шрифта в процентах*/
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 45px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;


}

#add{
    color: #fc3865;
}
#shapka{
    color:#ffffff
    font-size:100px;

}




#input{
    height:50px;
    width:600px;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    margin: -50px 0 0 -300px;


}
#add {
    height:50px;
    width:600px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -300px;

}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addsylka{
    color:#431a8a;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 500%; /* Размер шрифта в процентах*/
    text-align:center;
    }


#nazvanie{
    color:#431a8a;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%; /* Размер шрифта в процентах */
    text-align:center;
    }

#sylka{
    color:#431a8a;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%; /* Размер шрифта в процентах */
    text-align:center;
     margin-top: 5%;
     }

 /*кнорка добавить*/
.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 30%;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

