<!DOCTYPE html>
<html lang="en">
<head>
  <title>littl advert
  </title>
  <meta name="description" content="Likefi" />
  <meta charset="utf-8" />
  <meta name="theme-color" content="#333333">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    {% load static %}
  <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'js/buttonblue.js' %}" rel="stylesheet" type="text/js">


  <!-- <![endif]-->
  <link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="mask-icon" color="#ea4c89" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="apple-touch-icon-precomposed" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="icon" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" sizes="192x192" rel="icon" />
</head>
<body>
<header>
    <a href="/" id="button.shapka">Главная</a>
        <a href="/about"<span id="shapka1">О нас</span></a>
        <a href="/contacts"<span id="">Разместить</span></a>

    <form>
         <input type="search" name="q" placeholder="Поиск">
         <input type="submit" value="искать!">
       </form>

</header>





    <div class="buttons">
     <a href="/contacts"><button class="blob-btn">
        VIP
         <span class="blob-btn__inner">
          <span class="blob-btn__blobs">
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
          </span>
        </span>
      </button></a>

      <br/>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
          <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
        </filter>
      </defs>
    </svg>




 <!--Шапка которая переворачивается 0 -->
    <a class="btnflip" href="/contacts">
         {% for el  in news %}
        <div class='alert alert warning'>
            <h3>{{el.title}}</h3>
            <p>{{ el.link }}</p>
        </div>
        {% endfor %}
            <span class="btnflip-item btnflip__front">Здесь<br>может быть<br>ваше<br>обьявление</span>
            <span class="btnflip-item btnflip__center"></span>
            <span class="btnflip-item btnflip__back">РАЗМЕСТИТЬ</span>
    </a>
    <!--Шапка которая переворачивается 1 -->
    <a class="btnflip1" href="/contacts">
                <span class="btnflip-item1 btnflip__front1">Здесь<br>может быть<br>ваше<br>обьявление</span>
                <span class="btnflip-item1 btnflip__center1"></span>
                <span class="btnflip-item1 btnflip__back1">РАЗМЕСТИТЬ</span>
        </a>
    <!--Шапка которая переворачивается 2 -->
    <a class="btnflip2" href="/contacts">
                    <span class="btnflip-item2 btnflip__front2">Здесь<br>может быть<br>ваше<br>обьявление</span>
                    <span class="btnflip-item2 btnflip__center2"></span>
                    <span class="btnflip-item2 btnflip__back2">РАЗМЕСТИТЬ</span>
            </a>

    <footer id="down_banner">
      <p id="AP">©Все права защищены.</p>
    </footer>

</body>

</html>



