<!DOCTYPE html>
<html lang="en">
<head>
  <title>
     littl advert
  </title>
  <meta name="description" content="Likefi" />
  <meta charset="utf-8" />
  <meta name="theme-color" content="#333333">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    {% load static %}
  <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


  <!-- <![endif]-->

</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ads</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">О Нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Заказать</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

  <div><h1 id="text1">О нас</h1></div>
    <div><h1 id="text">Здравствуйте, с помощью нашего сервиса вы сможете разместить мини рекламу<br>
        с кратким описанием и ссылкой на ваш товар или услугу,<br>
        нажав на кнопку <a id="add" href ="/contacts"><br>"Разместить"</a><br>
                Стоит это дешего а пользы будет много.</h1></div>




</body>
</html>
