<!DOCTYPE html>
<html lang="en">
<head>
  <title>
     AdLikefi
  </title>
  <meta name="description" content="Likefi" />
  <meta charset="utf-8" />
  <meta name="theme-color" content="#333333">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

  <!-- <![endif]-->
  <link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="mask-icon" color="#ea4c89" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="apple-touch-icon-precomposed" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" rel="icon" />
<link href="https://instagram.fprg2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/81127144_166128731310287_5110363195013332992_n.jpg?_nc_ht=instagram.fprg2-1.fna.fbcdn.net&_nc_ohc=ryIeZGv8tQUAX9BG4qW&oh=2ff022be5b289f552815b105b65e88ae&oe=5F6A659E" sizes="192x192" rel="icon" />


  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Fv953p6vFnkpfOoy/1w5A/m5g9iqgFNrZRhBkhGbgMi/6qbJ5iGevb+fdJoHybagJPCskwURmpAOENztIzY9QQ==" />
      <script src="https://m.servedby-buysellads.com/monetization.custom.js"></script>


  <meta property="fb:app_id" content="811749452338490">

  <script>
    if (location.hash.match(/^#\./) && window.history) {
      window.history.replaceState({}, window.title, location.origin + location.pathname + location.search)
    }
  </script>
  <noscript>js

    <style>ol.dribbbles { display: block !important }</style>
  </noscript>
  <meta name="segment-controller" content="filters" />
<meta name="segment-action" content="index" />


</head>
    <body id="shots" class="logged-out not-pro not-player not-self not-team not-on-team  ">

<div id="header" role="banner" class="nav-wrapper">

  <div id="header-inner" class="group nav-inner">

    <div id="logo" class="nav-logo">
        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="76" height="19" viewBox="0 0 76 19" fill="none" class="fill-current">

</svg>
</a>
    </div>
    <a href="#nav" id="toggle-nav" class="toggle-nav" aria-label="Toggle Navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="none" role="img" class="icon nav-icon fill-current">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 1.37868 0.50368 0.875 1.125 0.875H16.875C17.4963 0.875 18 1.37868 18 2C18 2.62132 17.4963 3.125 16.875 3.125H1.125C0.50368 3.125 0 2.62132 0 2ZM0 8C0 7.37868 0.50368 6.875 1.125 6.875H16.875C17.4963 6.875 18 7.37868 18 8C18 8.62132 17.4963 9.125 16.875 9.125H1.125C0.50368 9.125 0 8.62132 0 8ZM1.125 12.875C0.50368 12.875 0 13.3787 0 14C0 14.6213 0.50368 15.125 1.125 15.125H16.875C17.4963 15.125 18 14.6213 18 14C18 13.3787 17.4963 12.875 16.875 12.875H1.125Z"></path>
</svg>

      <span class="close">×</span>
    </a>

    <ul id="nav" class="main-nav" role="navigation">
      <span class="links-container">
        <li class="nav-dropdown-item tab-link js-explore-tab actions-item" data-top-level="explore">
          <a class="has-sub" href="#">


<path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
</svg>

</a>            <div class="nav-dropdown explore-tabs wide ">
  <ul>



</div>

        </li>


<path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
</svg>

</a>          <div class="nav-dropdown for-designers-tabs">
  <ul>
    <li class="mega-nav-box">
      <a href="/jobs">
        <img
          class="for-designers-img"

              </span>
</a>
<div class="nav-dropdown hiring-designers-tabs">
  <ul>
    <li class="mega-nav-box">
      <a data-billing-interval="quarterly" href="/jobs/new">


        </div>
</a>    </li>



</div>

          </li>
      </span>

      <span class="actions-container">

        <li id="t-search" class="tab-search actions-item" role="search">
          <form id="search" class="js-nav-search-form has-animation nav-search-wrapper " action="https://dribbble.com/search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img" class="icon js-toggle-nav-search fill-current nav-search-icon">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
</svg>

            <input class="nav-search-text" type="search" name="q" placeholder="Search" autocomplete="off" value="" />


          </form>
        </li>
        <div class="mobile-icons">
            <li id="t-signin" class="tab-signin actions-item" data-top-level="signin">
                <a href="/"<span>Главная</span>&ensp;</a>
                  <a href="/about"<span>О нас</span>&ensp;</a>


          <li id="t-signup" class="tab-signup actions-item" data-top-level="signup">
              <a class="primary-btn" href="/contacts">
                <span class="form-sub">
                    Разместить
                </span>
</a>          </li>


<script>
var newestShots = [{
    id: 14053104,
    title: "Freedom Belarus!",
    path: "/shots/14053104-Freedom-Belarus",
    published_at: 'about 10 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 14353,
    comments_count: 27,
    likes_count: 305,
    liked: false,
    ga: []
  },{
    id: 14054420,
    title: "illustration VIII",
    path: "/shots/14054420-illustration-VIII",
    published_at: 'about 6 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 7628,
    comments_count: 1,
    likes_count: 154,
    liked: false,
    ga: []
  },{
    id: 14054403,
    title: "Woods Rose",
    path: "/shots/14054403-Woods-Rose",
    published_at: 'about 6 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 5102,
    comments_count: 1,
    likes_count: 150,
    liked: false,
    ga: []
  },{
    id: 14055185,
    title: "Facebook — Typographic Stickers!",
    path: "/shots/14055185-Facebook-Typographic-Stickers",
    published_at: 'about 4 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 1927,
    comments_count: 7,
    likes_count: 96,
    liked: false,
    ga: []
  },{
    id: 14054451,
    title: "illustration IX",
    path: "/shots/14054451-illustration-IX",
    published_at: 'about 6 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 6202,
    comments_count: 0,
    likes_count: 113,
    liked: false,
    ga: []
  },{
    id: 14055129,
    title: "Editorial hero section",
    path: "/shots/14055129-Editorial-hero-section",
    published_at: 'about 4 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 4731,
    comments_count: 15,
    likes_count: 137,
    liked: false,
    ga: [["zhenyary","UA-72518530-1"]]
  },{
    id: 14054409,
    title: "illustration VII",
    path: "/shots/14054409-illustration-VII",
    published_at: 'about 6 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 4799,
    comments_count: 1,
    likes_count: 93,
    liked: false,
    ga: []
  },{
    id: 14051279,
    title: "Ware2Go Hero Section",
    path: "/shots/14051279-Ware2Go-Hero-Section",
    published_at: 'about 10 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 10083,
    comments_count: 6,
    likes_count: 143,
    liked: false,
    ga: [["clayglobal","UA-77734000-2"],["clayglobal","UA-77734000-2"]]
  },{
    id: 14054010,
    title: "Jake Animated I",
    path: "/shots/14054010-Jake-Animated-I",
    published_at: 'about 7 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 8730,
    comments_count: 3,
    likes_count: 177,
    liked: false,
    ga: [["UI8","UA-93563814-1"]]
  },{
    id: 14054469,
    title: "OFF-PISTE",
    path: "/shots/14054469-OFF-PISTE",
    published_at: 'about 6 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 5316,
    comments_count: 0,
    likes_count: 122,
    liked: false,
    ga: []
  },{
    id: 14054515,
    title: "Waka Waka, Mobile",
    path: "/shots/14054515-Waka-Waka-Mobile",
    published_at: 'about 6 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 3396,
    comments_count: 2,
    likes_count: 86,
    liked: false,
    ga: [["benmingo","UA-48904664-4"]]
  },{
    id: 14053536,
    title: "Brand Guidelines — Bunch Consulting",
    path: "/shots/14053536-Brand-Guidelines-Bunch-Consulting",
    published_at: 'about 9 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 8832,
    comments_count: 21,
    likes_count: 176,
    liked: false,
    ga: []
  },{
    id: 14052906,
    title: "Kings Cross Church pt. II",
    path: "/shots/14052906-Kings-Cross-Church-pt-II",
    published_at: 'about 11 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 7184,
    comments_count: 2,
    likes_count: 141,
    liked: false,
    ga: []
  },{
    id: 14054916,
    title: "SilverOak 2",
    path: "/shots/14054916-SilverOak-2",
    published_at: 'about 5 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 2009,
    comments_count: 2,
    likes_count: 65,
    liked: false,
    ga: []
  },{
    id: 14053564,
    title: "Smart Gadgets Mobile",
    path: "/shots/14053564-Smart-Gadgets-Mobile",
    published_at: 'about 9 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 5608,
    comments_count: 17,
    likes_count: 169,
    liked: false,
    ga: [["halolab","UA-42885094-2"],["vboyev","UA-26861972-2"]]
  },{
    id: 14049635,
    title: "Turmeric Ginger Chai",
    path: "/shots/14049635-Turmeric-Ginger-Chai",
    published_at: 'about 6 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 2116,
    comments_count: 7,
    likes_count: 84,
    liked: false,
    ga: []
  },{
    id: 14055308,
    title: "Component Styletiles",
    path: "/shots/14055308-Component-Styletiles",
    published_at: 'about 4 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 1738,
    comments_count: 3,
    likes_count: 81,
    liked: false,
    ga: [["MakeReign","UA-88392212-2"]]
  },{
    id: 14053143,
    title: "Website Design - Bonsai",
    path: "/shots/14053143-Website-Design-Bonsai",
    published_at: 'about 10 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 9697,
    comments_count: 27,
    likes_count: 195,
    liked: false,
    ga: []
  },{
    id: 14054911,
    title: "Plaza Bar \u0026 Lounge",
    path: "/shots/14054911-Plaza-Bar-Lounge",
    published_at: 'about 5 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 1587,
    comments_count: 3,
    likes_count: 64,
    liked: false,
    ga: [["joshcarnley","UA-156170984-2"]]
  },{
    id: 14052371,
    title: "Farmhouse",
    path: "/shots/14052371-Farmhouse",
    published_at: 'about 12 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 14698,
    comments_count: 8,
    likes_count: 196,
    liked: false,
    ga: []
  },{
    id: 14054834,
    title: "The Tree Center pt.III",
    path: "/shots/14054834-The-Tree-Center-pt-III",
    published_at: 'about 5 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 1807,
    comments_count: 3,
    likes_count: 82,
    liked: false,
    ga: []
  },{
    id: 14054408,
    title: "Data Backup Animation",
    path: "/shots/14054408-Data-Backup-Animation",
    published_at: 'about 6 hours ago',
    is_rebound: false,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 6346,
    comments_count: 4,
    likes_count: 155,
    liked: false,
    ga: []
  },{
    id: 14052065,
    title: "Food Delivery App Design Concept",
    path: "/shots/14052065-Food-Delivery-App-Design-Concept",
    published_at: 'about 10 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 8160,
    comments_count: 23,
    likes_count: 292,
    liked: false,
    ga: []
  },{
    id: 14054206,
    title: "Job Platform Logo Design",
    path: "/shots/14054206-Job-Platform-Logo-Design",
    published_at: 'about 7 hours ago',
    is_rebound: true,
    rebounds_count: 0,
    attachments_count: 0,
    view_count: 5278,
    comments_count: 3,
    likes_count: 116,
    liked: false,
    ga: [["Tubik","UA-57384682-1"],["Tubik","UA-57384682-1"]]
  }];

if (typeof(Dribbble) != "undefined" && typeof(Dribbble.Shots) != "undefined") {
  Dribbble.Shots.add(newestShots);
  Dribbble.TeaserStats.init(newestShots);

    Dribbble.Screenshots.cursor = '1597906585.194779';
}
else {
  if (typeof newShots === "undefined") {
    var newShots = [];
  }
  newShots = newShots.concat(newestShots);
}

</script>






<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- jquery failover -->
<script>
  if (typeof jQuery == 'undefined') {
    document.write(unescape('%3Cscript src="https://static.dribbble.com/assets/jquery-3.2.1.min-620f9d5d78f3d840706c60a049ee6fa359237cef4203800c0403d94c203992f0.js">%3C/script>'))
  }
</script>

<script src="https://static.dribbble.com/assets/global-c1dd52f70863cc87e6e73b17c75de1f4980fb0b30fc05e3a47e3a847e93cf47b.js"></script>

<script>
  var config = Dribbble.JsConfig || {}
  // the assign is so this partial can be called in other partials, e.g. modals
  // without overriding parent instantiations of JsConfig
  Dribbble.JsConfig = Object.assign(config, {
      user: {"isLoggedIn":false,"reCaptchaSiteKey":"6LdmBTIUAAAAAM4NIokaWu8p3BBuYEw3CxuDdyg_"},
      features: {"dribbbleOneFive":true,"proColorPicker":true,"boostedShotsFeed":false,"newDesignerSearch":true,"braintreeHiring":false,"searchBookmarks":false,"shotPageReskin":false,"homespunAdUnits":false},
      permissions: {"userPermissions":[null,null]},
  })
</script>

<script src="https://static.dribbble.com/assets/packs/js/application-39214cb23720a2d16330.js"></script>
<script src="https://static.dribbble.com/assets/shot-filtering-manifest-38f7a6101f0e862425dfe7f5a15abb98f620ff51962e50206f58c6fd83cca8bf.js"></script>  <script>
    Dribbble.Segment.NavTracker.initialize(true);
    Dribbble.ShotFiltersToggler.initialize();
    Dribbble.CategoryList.initialize();
    Dribbble.ShotColorFilters.initialize();
    Dribbble.ShotFilters.initialize({
      state: {"tag":null,"color":null,"timeframe":null,"source_file":null,"price_floor":null,"price_ceiling":null,"prefix":"/shots","category":null,"view":"popular","madeWith":null},
      pathMatcher:  /^\/(shots|search\/shots)\/(following|popular|goods|recent|animation|branding|illustration|mobile|print|product-design|typography|web-design)[\/?]?/,
      onFilterSuccess: function() { Dribbble.MadeWithHeader.initialize() },
      tagAutocompleteUrl: 'https://dribbble.com/autocompletes/tags'
    });
    Goods.initialize();
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>

  <script>
    $('.bucket-shot').off().on('click', function(event) {
      $target = $(event.target);
      Dribbble.Segment.track("shot_save_clicked", {
        shot_id: $target.attr("data-screenshot-id"),
        shot_user_id: $target.attr("data-screenshot-user-id"),
        on_hover: $target.parent().parent().hasClass('js-dribbble-shot-actions'),
      });
    });
  </script>
<script src="https://static.dribbble.com/assets/shots-manifest-c9fa69790a07c9093d23bf7629e67765813be7639073828e669f0c9d722ee1de.js"></script><script src="https://static.dribbble.com/assets/follow-bar-a0d29eb6ca41a843ccd3cbbfdba8026134116aee2a5d3aebaf671adfc05ecee1.js"></script>  <script>
    $(function() {

      Dribbble.Screenshots.initialize({"page_limit":1,"enable_overlay":true,"cursor":false,"deferredContent":null,"showFollowSuggestions":false,"showAds":true,"staticParams":null});


      if(Dribbble.Bucket){
        new Dribbble.Bucket({ target: "a[data-bucket-add]" });
      }


      $(document).on(
        'click',
        'a[data-fav-toggle=shot]',
        Screenshot.Like.Shot.toggle
      )
    });
  </script>

      <script src="https://static.dribbble.com/assets/packs/js/boosted-shots-3575252fc53db2f74945.js" defer="defer"></script>
  <script>
setTimeout(function() {
  Dribbble.Ads.enable();
  Dribbble.Ads.load({
    context: "footer",
    placement: "site-footer",
    requestId: Math.floor(Math.random() * Date.now()),
    adElement: document.querySelector('.js-ad-carbon-site-footer')
  });
}, 1);
</script>

  <script>
    overlay = new Dribbble.Overlay.Simple({
      $el: $('#save-to-home-screen'),
      onHide: function() {
        localStorage.setItem('hideSaveToHomeScreenModal', true);
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
      var hideSaveToHomeScreenModal = localStorage.getItem('hideSaveToHomeScreenModal') === 'true';

      if (!hideSaveToHomeScreenModal && (Dribbble.isIosSafari() || Dribbble.isAndroidChrome())) {
        var saveToHomeScreenElement = document.querySelector('.js-save-to-home-screen');

        if (Dribbble.isIosSafari()) {
          saveToHomeScreenElement.classList.add('ios-container');
        };

        if (Dribbble.isIosSafari('iPad')) {
          saveToHomeScreenElement.classList.add('ios-ipad-container');
        }

        if (Dribbble.isAndroidChrome()) {
          saveToHomeScreenElement.classList.add('android-container');
        }

        overlay.show();
      }
    });

    document.querySelector('.js-close-modal-icon').addEventListener('click', function() {
      overlay.hide();
    })
  </script>
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga("create", "UA-24041469-1", "auto", {
      "sampleRate": 100.0
    });
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

<script>
  window.analytics.load("r3TkTP6KbLj2tRyQg9nSi");
</script>

<script>
  var segmentPageProperties = {controller: "filters", action: "index"}
  if (window.location.pathname == "/") {
    Dribbble.Analytics.namedRoot = "/shots";
    Dribbble.Analytics.logDribbbleGAPageView("/")
    segmentPageProperties.url = Dribbble.Analytics.namedRoot
  } else {
    Dribbble.Analytics.logDribbbleGAPageView("/")
  }
  Dribbble.Segment.page(segmentPageProperties)


</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-787470371"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-787470371');
</script>

<script type="text/javascript">
  _linkedin_partner_id = "1940404";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
  (function(){
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);
  })();
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1940404&fmt=gif" />
</noscript>

</body>
</html>
