body{
    background-color:#d6d6d6 ;
     /*background-image: url(../img/Fancy_1.gif) ;*/  /*Путь к фоновому изображению*/
}

header {
    bs-blue: #0d6efd;
    bs-indigo: #6610f2;
    bs-purple: #6f42c1;
    bs-pink: #d63384;
    bs-red: #dc3545;
    bs-orange: #fd7e14;
    bs-yellow: #ffc107;
    bs-green: #198754;
    bs-teal: #20c997;
    bs-cyan: #0dcaf0;
    bs-white: #fff;
    bs-gray: #6c757d;
    bs-gray-dark: #343a40;
    bs-primary: #0d6efd;
    bs-secondary: #6c757d;
    bs-success: #198754;
    bs-info: #0dcaf0;
    bs-warning: #ffc107;
    bs-danger: #dc3545;
    bs-light: #f8f9fa;
    bs-dark: #212529;
    bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    webkit-tap-highlight-color: transparent;
    color: #5a5a5a;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #212529!important;
}

#shapka{
    color:#ffffff
    font-size:100px;

}



#text{
    color:#fff;
    margin:50px;
    marginleft:50px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%;  /*Размер шрифта в процентах */
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de;


}
#text1{
    color:#fff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 500%;  /*Размер шрифта в процентах*/
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 45px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;


}







#input{
    height:50px;
    width:600px;
    border-radius: 15px;
    position: absolute;
    top: 85%;
    left: 50%;
    margin: -50px 0 0 -300px;


}
#add {
    height:50px;
    width:600px;
    border-radius: 15px;
    position: absolute;
    top: 56%;
    left: 50%;
    margin: -50px 0 0 -300px;
    color: #3b3b3b;

}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addsylka{
    color:#3b3b3b;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 500%; /* Размер шрифта в процентах*/
    text-align:center;
    top:30;
    left: 50%;
    margin-top: 100px;

    }


#nazvanie{
    color:#3b3b3b;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%; /* Размер шрифта в процентах*/
    text-align:center;
    margin-top: 50px;

    }

#sylka{
    color:#3b3b3b;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 300%; /* Размер шрифта в процентах*/
    text-align:center;
    margin-top: 80px;
    }

 /*кнорка добавить*/
.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #3b3b3b;
  background: #918383;
  background-color:#918383;
  border: none;
  border-radius: 1000px;
  box-shadow: #ffffff;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 20%;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #918383;
  box-shadow: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}





